<div class='container'>
  <div class='row'>
    <div class="px-3 mx-auto">
        <h1>Welcome to <i class="fas fa-car"></i><strong>Car lovers gathering</strong>!</h1>
        <div class="text-about">
          <p>ここでは車好きの方向けに作成したSNSです。</br>
             修理やカスタムなどの情報共有や、何気ない車のとこなど投稿していただけるところとなってます。</br>
             尚、ポートフォリオ制作で作成したものとなりますので至らない点などあるかと思いますがゆっくりしていってもらえると幸いです。</p>
        </div>
        <div class="image-top">

        </div>
    </div>

  </div>
</div>