<link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
<link rel="stylesheet" type="text/css"  href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-2-3/css/4-2-3.css">
<div id="splash">
<div id="splash-logo">読み込み中</div>
<!--/splash--></div>
<div class="splashbg"></div><!---画面遷移用-->


<div id="container">
<div class="box">
  <div class="bgImg src1"></div>
  <div class="bgImg src2"></div>
  <div class="bgImg src3"></div>
  <div class="bgImg src4"></div>
</div>
 <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-muted">Site overview</h2>
                    <h3 class="section-subheading text-muted">Three promises</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">車の情報共有</h4>
                        <p class="text-muted">自分の知っている知識をみんなと共有しましょう</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-tools fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">工具や便利なツール</h4>
                        <p class="text-muted">皆さんは日頃どのような工具、ツールを使用していますか？使いやすい工具や使っている道具を共有しましょう</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fas fa-handshake fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">マナーを守って</h4>
                        <p class="text-muted">車に興味や好きな人が集まるところです、ユーザー同士仲良くルールを守ってご使用ください</p>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/4-2-3/js/4-2-3.js"></script>