// Place all the styles related to the users/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
　　color: #fff;
    }

h2:before {
    content: '●';
    color: white;
    margin-right: 8px;
    }