// Place all the styles related to the user/post_images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.w-30 {
    width: 30% !important;
}


li {
    color: #fff;
}